<ion-view class="reference-page" view-title="Referenz eingeben">
    <ion-content flex layout="column" layout-align="space-around center">
        <div flex layout-fill layout="column" layout-align="space-between center">
            <h4 ng-if="vm.audit" style="width: 100%; padding: 5px;text-align: center; margin-top: 0;background: gainsboro;">DCP-{{vm.audit.start_date | auditDate}}-{{vm.audit.name}}</h4>
            <md-button class="md-mini md-primary md-fab" ng-click="vm.goToDashboard()">
                <md-icon md-font-icon="fa fa-home fa-2x" aria-hidden="true"></md-icon>
            </md-button>
            <p ng-if="vm.audit">{{vm.audit.start_date}}</p>
            <h3>Audit beendet!</h3>
            <!--<h3 ng-if="vm.defeat">Defeat!</h3>-->
            <div  style="max-height: 70%; max-width: 100%; overflow: auto">
                <table>
                    <tr>
                        <th style="border: 1px solid black; padding:2px">Vorgang</th>
                        <th style="border: 1px solid black; padding:2px">Uhrzeit</th>
                        <th style="border: 1px solid black; padding:2px">Verfahrensbeschreibung</th>
                        <th style="border: 1px solid black; padding:2px">Antwort</th>
                        <th style="border: 1px solid black; padding:2px">Vermerk</th>
                    </tr>
                    <tbody>
                    <tr ng-repeat="kriterien in vm.audit.kriterien track by $index">
                        <td style="border: 1px solid black; padding:2px">{{$index+1}}</td>
                        <td style="border: 1px solid black; padding:2px">{{kriterien.start_date | kriterienTime}}</td>
                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border: 1px solid black; padding:2px">{{kriterien.question}}</td>
                        <td style="border: 1px solid black; padding:2px">{{kriterien.answer}}
                        <td style="border: 1px solid black; padding:2px">{{kriterien.data}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ion-content>
</ion-view>
